/* NappiUlkonäkö ESIMERKKI, EI OLE VÄLTTÄMÄTTÄ LOPULLINEN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #271B16;
}
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #D7EFBD;
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #D7EFBD 20%, transparent 30%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #D7EFBD 15%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #D7EFBD 15%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%),
    radial-gradient(circle, #D7EFBD 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,


/* CSS HEX */
--dark-green: #002626ff;
--tea-green: #d7efbdff;
--atomic-tangerine: #e6a289ff;
--van-dyke: #4f332bff;
--licorice: #271b16ff;

/* CSS HSL */
--dark-green: hsla(180, 100%, 7%, 1);
--tea-green: hsla(89, 61%, 84%, 1);
--atomic-tangerine: hsla(16, 65%, 72%, 1);
--van-dyke: hsla(13, 30%, 24%, 1);
--licorice: hsla(18, 28%, 12%, 1);

/* SCSS HEX */
$dark-green: #002626ff;
$tea-green: #d7efbdff;
$atomic-tangerine: #e6a289ff;
$van-dyke: #4f332bff;
$licorice: #271b16ff;

/* SCSS HSL */
$dark-green: hsla(180, 100%, 7%, 1);
$tea-green: hsla(89, 61%, 84%, 1);
$atomic-tangerine: hsla(16, 65%, 72%, 1);
$van-dyke: hsla(13, 30%, 24%, 1);
$licorice: hsla(18, 28%, 12%, 1);

/* SCSS RGB */
$dark-green: rgba(0, 38, 38, 1);
$tea-green: rgba(215, 239, 189, 1);
$atomic-tangerine: rgba(230, 162, 137, 1);
$van-dyke: rgba(79, 51, 43, 1);
$licorice: rgba(39, 27, 22, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-right: linear-gradient(90deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-bottom: linear-gradient(180deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-left: linear-gradient(270deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-top-right: linear-gradient(45deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-bottom-right: linear-gradient(135deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-top-left: linear-gradient(225deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-bottom-left: linear-gradient(315deg, #002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
$gradient-radial: radial-gradient(#002626ff, #d7efbdff, #e6a289ff, #4f332bff, #271b16ff);
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
